<div id="particles-js">
  <div class="content">
      <h1>
        <span class="site-title">Michael Fidelis</span>
        <span class="site-description">Desenvolvedor de Software</span>
      </h1>
      <div class="icons-header">
        <a aria-label="Enviar email" href="mailto:mclexr@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Twitter" target="_blank" href="https://twitter.com/mclexr"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Google Plus" target="_blank" href="https://plus.google.com/+MichaelFidelisDev/posts"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/michaelfidelis"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <a class="link" href="#about" data-scroll>Sobre mim</a>
      <a class="link" href="#projects" data-scroll>Projetos</a>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
