---
layout: default
disqus: true
archive: true
post_class: post-template
---

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{site.img_path}}{{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Home</a>
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}atom.xml">Subscribe</a>
    </nav>
</header>

<main class="content" role="main">

    <article class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <section class="post-meta">
            <time class="post-date" datetime="{{ page.date | date:" %Y-%m-%d " }}">{{ page.date | date_to_string }}</time>
            {% if page.categories.size > 0 %} {{ page.categories | array_to_sentence_string | prepend: 'em ' }} {% endif %}
        </section>
    </header>

    <section class="post-content">
        {{content}}

        {% if page.demo %}
            <a href="{{site.urls.demo}}{{page.demo}}" class="btn btn--blue">DEMO</a>
        {% endif %}
    </section>

    {% if page.archive %}
    <br><br>
    <section class="archive">
        <h5>Veja mais:</h5>
        <ul>
            {% for post in site.posts %}
            <li><span>{{ post.date | date_to_string }}</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    <footer class="post-footer">
        <!-- If we want to display author's name and bio -->
        {% if site.author %}
        <figure class="author-image">
            <a class="img" href="{{ site.urls.about }}" style="background-image: url({{site.author.thumb}})">
                <span class="hidden">{{site.author.name}}'s Picture</span></a>
        </figure>
        <section class="author">
            <!-- Author Name -->
            <h4> {{ site.author.name }} </h4>
            <!-- Author Bio -->
            <p>
                {{ site.author.bio }}
            </p>
        </section>
        {% endif %}

        <!-- Share links section -->
        {% include share.html %}

        <!-- Disqus comments -->
        {% if page.disqus %} {% include disqus.html %} {% endif %}

    </footer>


<!-- Marcação estruturada para artigos -->
<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"LiveBlogPosting",
  "@id":"{{site.url}}{{page.url}}",
  "about":{
    "@type":"Event",
    "startDate":"{{ page.date | date: '%Y-%m-%d' }}",
    "name":"{{page.title}}",
    }
  "coverageStartTime":"{{ page.date | date: '%Y-%m-%d' }}",
  "coverageEndTime":"{{ page.date | date: '%Y-%m-%d' }}",
  "headline":"{{page.title}}",
  "description":"{{page.description}}",
  "liveBlogUpdate":[
    {
      "@type":"BlogPosting",
      "headline":"{{page.title}}",
      "datePublished":"{{ page.date | date: '%Y-%m-%d' }}",
      "articleBody": "{{page.description}}",
     }
  ]
}
</script>
</article>
</main>
